<form class="" action="<%= comments_url %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="comment[post_id]" value="<%=post.id%>">
<input type="hidden" name="comment[parent_comment_id]" value="<%=parent_comment.nil? ? "" : parent_comment.id%>">
<textarea name="comment[content]" rows="8" cols="40"></textarea>
<input type="submit" value="Post Comment">
</form>
